/** @format */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loadingMessage {
  font-size: 1.5em;
  color: #888;
  margin-top: 50px;
}

.mainContent {
  width: 100%;
  padding: 20px;
}
